<h2 class="mb-4"> Products </h2>
<div class="col mb-4">
    <button type="button" class="btn btn-sm btn-success m-1" (click)="addProduct()">
        <i class="bi"></i> New
    </button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(Product of Products; track $index) {
        <tr>
            <th scope="row">{{Product.id}}</th>
            <td>{{Product.name}}</td>
            <td>{{Product.price}}</td>
            <td>{{Product.quantity}}</td>
            <td>
                <button type="button" class="btn btn-sm btn-warning m-1" (click)="editProduct(Product)">
                      Edit</button>
            </td>
            <td>
                <button (click)="deleteProduct(Product.id)" type="button" class="btn btn-sm btn-danger m-1"> 
                     Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<app-confirmation-dialog></app-confirmation-dialog>
<app-edit-product-dialog></app-edit-product-dialog>


